.home-image {
    background-image: url('https://amp.insider.com/images/5a70b4a046a2881d008b465e-750-562.jpg');
    background-repeat: none;
    background-size: cover;
    height: 90vh;
}
.home-container {
    display: flex;
}
.home-main-blurb {
    background-color: rgba(172, 167, 167, 0.5);
    padding: 30px;
    width: 100vw;
    margin-top: 25vh;
}
.home-title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    letter-spacing: .1em;
}

.home-catch-phrase {
    font-size: 1.5rem;
    margin: 10px;
    text-align: center;
    color: #ffffff;
}
.places-to-stay-redirect {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff;
    /* border-radius: 5px; */
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #9c9a9a;
    bordeR: none;
    margin: 30px auto 10px auto;
    display: block;
    font-family: 'Cardo', serif;
}
a {
    text-decoration: none;
}