* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App-nav {
  /* display: flex; */
  /* justify-content: center; */
  background: #ffffff;
  height: 10vh;
  /* color: #383737; */
  align-items: center;
  padding: 20px;
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
.fix {
  clear: both;
}
.active-link {
text-decoration: none;
color: #727171;
font-size: 22px;
font-weight: bold;
margin: 20px;

}